{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'usuario/img/logoPeq.png' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'usuario/css/register.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'usuario/css/styles-globais.css' %}"
    />
    <script src="{% static 'usuario/js/register.js' %}"></script>
  </head>
  <body class="login">
    <div class="logobb">
      <img
        src="{% static 'usuario/img/bbts.jpg' %}"
        alt="logo-bbts"
      />
    </div>

    <form id="register-form" method="POST">
      {% csrf_token %}

      <select id="tipo" name="tipo" required>
        <option value="">Selecione o tipo de usuário</option>
        <option value="administrador">Administrador</option>
        <option value="solicitante">Solicitante</option>
      </select>

      <div class="input-container">
        <span class="icon">👤</span>
        <input
          type="text"
          id="nome"
          name="nome"
          placeholder="Nome completo"
          required
        />
      </div>

      <div class="input-container">
        <span class="icon">📧</span>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required
        />
      </div>

      <div class="input-container">
        <span class="icon">🔒</span>
        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="Senha"
          required
        />
      </div>

      <div class="input-container">
        <span class="icon">🏢</span>
        <input
          type="text"
          id="setor"
          name="setor"
          placeholder="Setor"
          required
        />
      </div>

      <div class="input-container">
        <span class="icon">💼</span>
        <input
          type="text"
          id="cargo"
          name="cargo"
          placeholder="Cargo"
          required
        />
      </div>

      <button type="submit" id="botao-registrar">Registrar</button>

      <div class="link-registrar">
        <p>Já tem uma conta? <a href="{% url 'login_page' %}">Entrar</a></p>
      </div>
    </form>
  </body>
</html>
