{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logoPeq.png">
    <!--Favicon-->
    <!-- <link rel="stylesheet" href="/css/styles-globais.css" /> -->
    <link rel="stylesheet" href="{% static 'css/styles-globais.css' %}">
    <!--CSS GLOBAL-->
    <!-- <link rel="stylesheet" href="/css/solicitante-inicio.css" /> -->
    <link rel="stylesheet" href="{% static 'solicitante/css/solicitante-inicio.css' %}">
    <!--CSS SOLICITANTE INÍCIO-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- <script src="/js/scripts-globais.js"></script> -->
    <script src="{% static 'js/scripts-globais.js' %}"></script>

    <!-- <script src="/js/solicitante-inicio.js"></script> -->
    <script src="{% static 'solicitante/js/solicitante-inicio.js' %}"></script>

  </head>
  <body>
    <!--NAVBAR-->
  <div class="navbar-solicitante">

    <div class="logo">
      <img src="{% static 'img/logoGraQ.png' %}" alt="Logo da BBTS" style="height: 35px;">
      <!-- <img src="{% static 'img/logoGraQ.png' %}"> -->
    </div>
    <div class="nav-right">
      <div class="links">
        <a href="{% url 'solicitante_home' %}">Inicio</a>
        <a href="{% url 'solicitar_vaga' %}">Solicitar vaga</a>

      </div>
      <div class="user-menu">
        <div class="user-icon">
          <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="dropdown-menu" id="dropdownMenu">
          <p><strong>ID:</strong> 74561329</p>
          <p><strong>Nome:</strong> Alberto Nogueira</p>
          <p><strong>Setor:</strong> Desenvolvimento de Software</p>
          <p><strong>Cargo:</strong> Gestor de Projetos</p>
          <button class="logout-btn">Sair da Conta</button>
        </div>
      </div>
    </div>
  </div>

    <!--TELA GESTOR-->
    <div class="sfundo">
      <div class="search">
        <label for="site-search" class="visually-hidden"></label>
        <input
          type="search"
          id="site-search-usuario"
          name="q"
          placeholder="Pesquisar vaga"
        />
        <button type="submit" id="search button">
          <img src="/img/search.svg" alt="Search Icon" />
        </button>
      </div>
    </div>
    <div class="content">
      <h1>Vagas criadas por você</h1>
      <!-- Engenheiro de Software -->
      <div class="box-vaga">
        <div class="vaga">
          <p>Código: 485734905</p>
          <p><strong>Engenheiro de Software</strong></p>
          <p>Data: 21/04/2025</p>
        </div>
        <div class="box-descricao" style="display: none">
          <div class="box-descricao-text">
            <hr />
            <p class="status-andamento-ab">Em Andamento</p>
            <div><strong>Número de vagas:</strong> <span>3</span></div>
            <div>
              <strong>Palavras Chave:</strong>
              <span
                >Python, Java, NoSQL, CI/CD, Microserviços, Cloud, Testes
                Automatizados</span
              >
            </div>
            <div>
              <strong>Nível de experiência:</strong> <span>Sênior</span>
            </div>
            <div><strong>Localização:</strong> <span>Brasília, DF</span></div>
            <div>
              <strong>Modalidade de trabalho:</strong> <span>Híbrido</span>
            </div>
            <div><strong>Prioridade:</strong> <span>Alta</span></div>
            <div>
              <strong>Observações:</strong>
              <span
                >Projeto de grande escala precisa de desenvolvedores experientes
                para novos módulos.</span
              >
            </div>
          </div>
        </div>
        <div class="resultado" style="display: none">
          <button id="resultados">Resultados</button>
        </div>
      </div>

      <div class="box-vaga">
        <div class="vaga">
          <p>Código: 357001743</p>
          <p><strong>Analista de Dados</strong></p>
          <p>Data: 26/01/2025</p>
        </div>
        <div class="box-descricao" style="display: none">
          <div class="box-descricao-text">
            <hr />
            <p class="status-andamento-fn">Finalizado</p>
            <div><strong>Número de vagas:</strong> <span>2</span></div>
            <div>
              <strong>Palavras Chave:</strong>
              <span>SQL, Python, Big Data, Power BI, ETL, Hadoop, Azure</span>
            </div>
            <div><strong>Nível de experiência:</strong> <span>Pleno</span></div>
            <div><strong>Localização:</strong> <span>São Paulo, SP</span></div>
            <div>
              <strong>Modalidade de trabalho:</strong> <span>Remoto</span>
            </div>
            <div><strong>Prioridade:</strong> <span>Média</span></div>
            <div>
              <strong>Observações:</strong>
              <span
                >Buscamos profissionais com experiência em análise de grandes
                volumes de dados e visualização interativa.</span
              >
            </div>
          </div>
        </div>
        <div class="resultado" style="display: none">
          <button id="resultados">Resultados</button>
        </div>
      </div>

      <div class="box-vaga">
        <div class="vaga">
          <p>Código: 276598023</p>
          <p><strong>UX/UI Designer</strong></p>
          <p>Data: 18/12/2024</p>
        </div>
        <div class="box-descricao" style="display: none">
          <div class="box-descricao-text">
            <hr />
            <p class="status-andamento-ng">Recusado</p>
            <div><strong>Número de vagas:</strong> <span>1</span></div>
            <div>
              <strong>Palavras Chave:</strong>
              <span
                >Figma, Design System, Prototipagem, Acessibilidade, Testes de
                Usabilidade, Adobe XD</span
              >
            </div>
            <div>
              <strong>Nível de experiência:</strong> <span>Júnior</span>
            </div>
            <div><strong>Localização:</strong> <span>Recife, PE</span></div>
            <div>
              <strong>Modalidade de trabalho:</strong>
              <span>Presencial</span>
            </div>
            <div><strong>Prioridade:</strong> <span>Baixa</span></div>
            <div>
              <strong>Observações:</strong>
              <span
                >Atuação em equipe multidisciplinar com foco em inclusão digital
                e melhoria de interfaces públicas.</span
              >
            </div>
          </div>
        </div>
        <div class="resultado" style="display: none">
          <button id="resultados">Resultados</button>
        </div>
      </div>
    </div>
  </body>
</html>
