<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vagas solicitadas</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logoPeq.png' %}" />
    <!--Favicon-->
     <link rel="stylesheet" href="{% static 'css/styles-globais.css' %}" />
    <!--CSS GLOBAL-->
    <link rel="stylesheet" href="{% static 'css/vaga-solicitada.css' %}">
    <!--CSS VAGA SOLICITADA -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script src="{% static 'js/scripts-globais.js' %}" defer></script>
     <script src="{% static 'js/vaga-solicitada.js' %}" defer></script>
  </head>
  <body>
    <!---VAGAS SOLICITADAS-->

    <!--NAVBAR-->
    <div id="navbar-admin"></div>

    <div class="svagaAdm">
      <div class="sfundo">
        <div class="search">
          <label for="site-search" class="visually-hidden"></label>
          <input
            type="search"
            id="site-search"
            name="q"
            placeholder="Pesquisar vaga"
          />
          <button type="submit">
            <img src="/img/search.svg" alt="Search Icon" />
          </button>
        </div>
      </div>

      <h1 class="h1-dash">Vagas pendentes</h1>

      <div class="analise-container">
        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Alta</p>
              <p><strong>Solicitante:</strong> Alberto Nogueira</p>
              <p><strong>Setor:</strong> Software e Testes</p>
            </div>
            <div class="analise-superior">
              <p>Data: 21/04/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Engenheiro de Software</p>
              <p><strong>Número de vagas:</strong> 3</p>
              <p><strong>Localização:</strong> Brasília, DF</p>
              <p><strong>Modalidade de trabalho:</strong> Híbrido</p>
              <p>
                <strong>Observação:</strong> Projeto de grande escala precisa de
                desenvolvedores experientes para novos módulos.
              </p>
              <div class="analise-superior">
                <p>Código: 485734905</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao-1">Justificativa</label>
              <input
                type="text"
                id="razao-1"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Alta</p>
              <p><strong>Solicitante:</strong> Mariana Coutinho</p>
              <p><strong>Setor:</strong> Desenvolvimento Backend</p>
            </div>
            <div class="analise-superior">
              <p>Data: 02/05/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Desenvolvedor Java Sênior</p>
              <p><strong>Número de vagas:</strong> 2</p>
              <p><strong>Localização:</strong> São Paulo, SP</p>
              <p><strong>Modalidade de trabalho:</strong> Híbrido</p>
              <p>
                <strong>Observação:</strong> Precisamos reforçar o time de APIs
                para projeto bancário estratégico com o BB
              </p>
              <div class="analise-superior">
                <p>Código: 918347230</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao1">Justificativa</label>
              <input
                type="text"
                id="razao1"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Média</p>
              <p><strong>Solicitante:</strong> Tiago Neves</p>
              <p><strong>Setor:</strong> Infraestrutura e Redes</p>
            </div>
            <div class="analise-superior">
              <p>Data: 08/05/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Analista de Redes</p>
              <p><strong>Número de vagas:</strong> 1</p>
              <p><strong>Localização:</strong> Brasília, DF</p>
              <p><strong>Modalidade de trabalho:</strong> Presencial</p>
              <p>
                <strong>Observação:</strong> Substituição por desligamento
                recente no time de redes
              </p>
              <div class="analise-superior">
                <p>Código: 923481118</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao2">Justificativa</label>
              <input
                type="text"
                id="razao2"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Baixa</p>
              <p><strong>Solicitante:</strong> Carla Mendes</p>
              <p><strong>Setor:</strong> Comunicação Interna</p>
            </div>
            <div class="analise-superior">
              <p>Data: 22/05/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Designer Gráfico</p>
              <p><strong>Número de vagas:</strong> 1</p>
              <p><strong>Localização:</strong> Belo Horizonte, MG</p>
              <p><strong>Modalidade de trabalho:</strong> Remoto</p>
              <p>
                <strong>Observação:</strong> Apoio à criação de materiais
                institucionais para campanhas internas
              </p>
              <div class="analise-superior">
                <p>Código: 902847511</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao3">Justificativa</label>
              <input
                type="text"
                id="razao3"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Alta</p>
              <p><strong>Solicitante:</strong> Eduardo Martins</p>
              <p><strong>Setor:</strong> Segurança da Informação</p>
            </div>
            <div class="analise-superior">
              <p>Data: 02/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Especialista em Cibersegurança</p>
              <p><strong>Número de vagas:</strong> 3</p>
              <p><strong>Localização:</strong> Brasília, DF</p>
              <p><strong>Modalidade de trabalho:</strong> Híbrido</p>
              <p>
                <strong>Observação:</strong> Demanda urgente do Banco do Brasil
                para ampliar monitoramento de vulnerabilidades
              </p>
              <div class="analise-superior">
                <p>Código: 937740182</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao4">Justificativa</label>
              <input
                type="text"
                id="razao4"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Média</p>
              <p><strong>Solicitante:</strong> Lucas Barreto</p>
              <p><strong>Setor:</strong> Testes e Qualidade</p>
            </div>
            <div class="analise-superior">
              <p>Data: 02/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Analista de QA</p>
              <p><strong>Número de vagas:</strong> 2</p>
              <p><strong>Localização:</strong> Curitiba, PR</p>
              <p><strong>Modalidade de trabalho:</strong> À distância</p>
              <p>
                <strong>Observação:</strong> A equipe precisa de reforço para
                atender prazos de homologações do BBTS
              </p>
              <div class="analise-superior">
                <p>Código: 945128377</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao5">Justificativa</label>
              <input
                type="text"
                id="razao5"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Alta</p>
              <p><strong>Solicitante:</strong> Juliana Ramos</p>
              <p><strong>Setor:</strong> Projetos Estratégicos</p>
            </div>
            <div class="analise-superior">
              <p>Data: 05/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Gerente de Projetos</p>
              <p><strong>Número de vagas:</strong> 1</p>
              <p><strong>Localização:</strong> Salvador, BA</p>
              <p><strong>Modalidade de trabalho:</strong> Híbrido</p>
              <p>
                <strong>Observação:</strong> Substituição de colaborador
                realocado para outro projeto do BB
              </p>
              <div class="analise-superior">
                <p>Código: 981237412</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao6">Justificativa</label>
              <input
                type="text"
                id="razao6"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Média</p>
              <p><strong>Solicitante:</strong> Felipe Andrade</p>
              <p><strong>Setor:</strong> Atendimento Digital</p>
            </div>
            <div class="analise-superior">
              <p>Data: 08/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Especialista em Chatbot</p>
              <p><strong>Número de vagas:</strong> 2</p>
              <p><strong>Localização:</strong> Recife, PE</p>
              <p><strong>Modalidade de trabalho:</strong> Remoto</p>
              <p>
                <strong>Observação:</strong> Novo projeto com o Banco do Brasil
                para expansão de atendimento automatizado
              </p>
              <div class="analise-superior">
                <p>Código: 958384027</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao7">Justificativa</label>
              <input
                type="text"
                id="razao7"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Baixa</p>
              <p><strong>Solicitante:</strong> Bianca Souza</p>
              <p><strong>Setor:</strong> Jurídico</p>
            </div>
            <div class="analise-superior">
              <p>Data: 09/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Assistente Jurídico</p>
              <p><strong>Número de vagas:</strong> 1</p>
              <p><strong>Localização:</strong> Porto Alegre, RS</p>
              <p><strong>Modalidade de trabalho:</strong> Presencial</p>
              <p>
                <strong>Observação:</strong> Suporte à equipe em processos
                internos e demandas administrativas do BB
              </p>
              <div class="analise-superior">
                <p>Código: 935612490</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao8">Justificativa</label>
              <input
                type="text"
                id="razao8"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Alta</p>
              <p><strong>Solicitante:</strong> Henrique Lopes</p>
              <p><strong>Setor:</strong> Suporte Técnico</p>
            </div>
            <div class="analise-superior">
              <p>Data: 09/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Técnico de Suporte N1</p>
              <p><strong>Número de vagas:</strong> 5</p>
              <p><strong>Localização:</strong> Rio de Janeiro, RJ</p>
              <p><strong>Modalidade de trabalho:</strong> Presencial</p>
              <p>
                <strong>Observação:</strong> Reposição de equipe de plantão para
                atendimento de agências bancárias
              </p>
              <div class="analise-superior">
                <p>Código: 946777321</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao9">Justificativa</label>
              <input
                type="text"
                id="razao9"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="analise-box">
          <div class="abre-desc">
            <div class="analise-info">
              <p><strong>Prioridade:</strong> Média</p>
              <p><strong>Solicitante:</strong> Rafael Pinheiro</p>
              <p><strong>Setor:</strong> BI e Análises</p>
            </div>
            <div class="analise-superior">
              <p>Data: 10/06/2025</p>
            </div>
          </div>

          <div class="analise-opcoes">
            <div class="analise-detail">
              <p><strong>Cargo:</strong> Cientista de Dados</p>
              <p><strong>Número de vagas:</strong> 2</p>
              <p><strong>Localização:</strong> São Paulo, SP</p>
              <p><strong>Modalidade de trabalho:</strong> Híbrido</p>
              <p>
                <strong>Observação:</strong> Análise de grandes volumes de dados
                transacionais do BBTS
              </p>
              <div class="analise-superior">
                <p>Código: 927318554</p>
              </div>
            </div>
            <div class="analise-justificativa">
              <label for="razao10">Justificativa</label>
              <input
                type="text"
                id="razao10"
                placeholder="Insira a sua justificativa neste campo"
                required
              />
              <div class="analise-buttons">
                <button class="btn-aprovar">Aprovar</button>
                <button class="btn-reprovar">Reprovar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>