{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultado</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logoPeq.png' %}" />
    <!--Favicon-->
    <link rel="stylesheet" href="{% static 'candidatos/css/styles-globais.css' %}" />
    <link rel="stylesheet" href="{% static 'candidatos/css/admin-resultado.css' %}" />
    <!--CSS ADMINISTRADOR RESULTADO-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="{% static 'candidatos/js/scripts-globais.js' %}"></script>
    <script src="{% static 'candidatos/js/admin-resultado.js' %}"></script>
    <script src="{% static 'candidatos/js/admin-candidatos.js' %}"></script>
  </head>
  <body>
    <!--NAVBAR-->
    <div class="navbar-admin">
      <div class="logo">
        <img src="{% static 'img/logoGraQ.png' %}" alt="Logo da BBTS" height="35px" />
      </div>
      <div class="nav-right">
        <div class="links">
          <a href="javascript:history.back()" class="ativo">Início</a>
          <a href="{% url 'admin_vagas' %}">Vagas Solicitadas</a>
        </div>
        <div class="user-menu">
          <div class="user-icon">
            <span class="material-symbols-outlined">account_circle</span>
          </div>
          <div class="dropdown-menu" id="dropdownMenu">
            <p><strong>ID:</strong> 89374083</p>
            <p><strong>Nome:</strong> Laís Azevedo</p>
            <p><strong>Setor:</strong> Gestão de Talentos</p>
            <p><strong>Cargo:</strong> Recrutador</p>
            <button class="logout-btn">Sair da Conta</button>
          </div>
        </div>
      </div>
    </div>

    <div class="resultadoadm">
      <div class="barra-edi">
        <div class="barra-edi-icon">
          <img src="{% static 'candidatos/img/draft.svg' %}" alt="" />
          <p>Arquivo</p>
          <img src="{% static 'candidatos/img/arrow_baixo.svg' %}" alt="" />
        </div>
        <div class="barra-edi-icon">
          <img src="{% static 'candidatos/img/file_export.svg' %}" alt="" />
          <p>Exportar</p>
          <img src="{% static 'candidatos/img/arrow_baixo.svg' %}" alt="" />
        </div>
        <div class="barra-edi-icon">
          <img src="{% static 'candidatos/img/save.svg' %}" alt="" />
          <p>Salvar</p>
        </div>
        <div class="barra-edi-icon">
          <img src="{% static 'candidatos/img/edit.svg' %}" alt="" />
          <p>Editar</p>
        </div>
      </div>

      <h2 class="h2-dash">Ranking de Perfis</h2>
      <div class="form-horizontal">
        {% for candidato in candidatos|slice:":3" %}
        <div class="quad">
          <p class="perfil-nome">{{ candidato.nome }}</p>
          <div class="info-container">
            <div class="info-box {% if candidato.porcentagem >= 80 %}accepted{% elif candidato.porcentagem >= 60 %}middle{% else %}rejected{% endif %}">
              {{ candidato.porcentagem }}% dos Requisitos
            </div>
            <div class="info-box-mais">
              <a href="{% url 'candidato-detalhes' vaga.id candidato.id %}">Veja mais</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p>Nenhum candidato encontrado para esta vaga.</p>
        {% endfor %}

        <button class="exp-ranking">
          <a href="{% url 'candidatos-vaga' vaga.id %}">Expandir</a>
        </button>
      </div>

      <h1 class="h1-dash">Visualização dos Dados:</h1>

      <section class="dashboard">
        <section class="card">
          <h3>Tecnologias sugeridas para qualificação</h3>
          <canvas id="chart1"></canvas>
        </section>
        <section class="card">
          <h3>Tecnologias - Frequência nos Perfis</h3>
          <canvas id="chart2"></canvas>
        </section>
        <section class="card">
          <h3>Soft Skills - Frequência nos Perfis</h3>
          <canvas id="chart3"></canvas>
        </section>
        <section class="card">
          <h3>Relação de Experiência e Compatibilidade</h3>
          <canvas id="chart4"></canvas>
        </section>
      </section>
    </div>
  </body>
</html>